* {
    padding: 0;
    margin: 0;
}

.navigation {
    width: 20%;
    height: 91%;
    position: fixed;
    background-color: #EB7F00;
    font-weight: bold;
    z-index: -1;
    overflow: scroll;
    overflow-y: visible;
    overflow-x: hidden;
}

.navigation ul {
    position: absolute;
    padding: 5px 0 5px 5%;
    width: 100%;
    float: left;
}

.navigation ul li {
    float: left;
    list-style: none;
    position: relative;
}

.navigation ul li a {
    color: #402121;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    padding-right: 15px;
}

.navigation ul li ul {
    position: relative;
    margin-left: 3%;
    width: auto;
    padding: 0 15px 15px 5px;
}

.navigation ul li ul li {
    margin-top: 5px;
    width: 90%;
}

.navigation ul li ul li a {
    color: #402121;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 5px;
    padding-bottom: 2px;
}

.navigation ul li ul li a:hover,
.navigation ul li a:hover {
    margin-left: -10px;
    font-weight: bolder;
    color: black;
    font-size: 1.1em;
}

.navigation ul li a:hover {
    font-size: 1.4em;
}
