* {
    padding: 0;
    margin: 0;
}

.navigation {
    padding-top: 60px;
    transition: 0.5s;
    height: 91%;
    width: 0;
    position: fixed;
    background-color: #275978;
    font-weight: bold;
    z-index: 1;
    overflow-x: hidden;
    left: 0;
    top: 0;
    transition: 0.5s;
}

.navigation .closebtn {
    position: absolute;
    top: 5px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

.openbtn {
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: white;
}

.openbtn:hover {
    color: #D962A3;
}

.closebtn:hover {
    color: #D962A3;
}

.navigation ul {
    position: absolute;
    padding: 5px 0 5px 5%;
    width: 100%;
    float: left;
}

.navigation ul li {
    float: left;
    padding-right:30px;
    list-style: none;
    position: relative;
}

.navigation ul li a {
    color: white;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    padding-right: 15px;
}

.navigation ul li ul {
    position: relative;
    margin-left: 3%;
    width: auto;
    padding: 0 15px 15px 5px;
}

.navigation ul li ul li {
    margin-top: 5px;
    width: 90%;
}

.navigation ul li ul li a {
    color: white;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    padding-left: 5px;
    padding-bottom: 2px;
}

.navigation ul li ul li a:hover,
.navigation ul li a:hover {
    margin-left: -10px;
    font-weight: bolder;
    color: #D962A3;
    font-size: 1.1em;
}

.navigation ul li a:hover {
    font-size: 1.4em;
}

.menu-icon {
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .navigation {
        padding-top: 15px;
    }
    .navigation a {
        font-size: 18px;
    }
}

a,a:visited,a:hover {
    text-decoration: none;
    color: #D962A3;
}

.logo {
    height: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

body {
    background-color: white;
}