div.supply-page {
    margin: 1% 5% 1% 25%;
    text-align: left;
}

.supply {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    row-gap: 20px;
    font-size: 25px;
    padding: 15px;
    border: solid 1px #F3FFE2;
    border-radius: 10px;
    box-shadow: 0 0 10px #F3FFE2 inset;
    background-color: #F3FFE2;
}

.bulgarian,
.math,
.english,
.biology,
.geography,
.history,
.physics,
.phylosophy,
.chemistry,
.russian,
.spanish,
.french {
    margin: 0 3% 0 3%;
    padding: 10px;
    border: solid 1px #1695A3;
    border-radius: 10px;
    box-shadow: 0 0 10px #1695A3 inset;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 20px;
    text-align: center;
    background-color: #ACF0F2;
}

.grade {
    display: grid;
    position: inline;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    column-gap: 15px;
    row-gap: 15px;
    font-size: 15px;
    text-align: center;
}

.grade p {
    border: solid 1px #225378;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 10px #F3FFE2 inset;
    background-color: #F3FFE2;
    color: #EB7F00;
}

h1 {
    text-align: center;
    background-color: #EB7F00;
    margin-top: -2.5px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: #F3FFE2;
}