            .logo {
                height: 200px;
                display: block;
                margin-right: auto;
                margin-left: auto;
            }
            
            .main-flex {
                margin-top: 25px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                height: 150px;
                text-align: center;
            }
            
            .course-main-page {
                background: url("../img/main-page-material.jpg") center no-repeat;
                background-size: cover;
                width: 32%;
                padding: 370px 0 30px 0;
                color: #275978;
                margin: 0 5px;
                margin-left: 17px;
                border-radius: 8px;
            }
            
            
            .exam-7th-grade {
                background: url("../img/7th-grade-exam.jpg") no-repeat center;
                margin: 0 5px;
                width: 32%;
                padding: 370px 0 30px 0;
                color:#275978;
                border-radius:8px;
                background-size: cover;
            }
            
            .exam-12th-grade {
                background: url("../img/12-th-grade.jpg") no-repeat center;
                background-size: cover;
                margin: 0 5px;
                width: 32%;
                padding: 370px 0 30px 0;
                border-radius:8px;
                color:#275978;
                margin-right:17px;
            }

            .exam-7th-grade:hover,
            .exam-12th-grade:hover,
            .supply-main-page:hover,
            .course-main-page:hover{
                color:#D962A3;
            }
            
            .main-option {
                margin-top: 275px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                margin-left: 15px;
                margin-right: 15px;
            }

        
            
            .main-option-item {
                background-color: #275978;
                text-align: center;
                font-size: 50px;
                width: 48%;
                height: 75px;
                border-radius: 8px;
                color:#D962A3;
            }

            .main-option-item:hover{
                color:white;
        }
            
            .bottom-center {
                font-size: 25px;
            }
            