body {
    background: #225378 url('../img/school-graduate.jpg') scroll center;
}

div.login-page {
    margin: 1% 5% 1% 5%;
    text-align: left;
}

h1 {
    text-align: center;
    background-color: #EB7F00;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: #F3FFE2;
}

.login {
    margin-top: 15px;
    border: solid 1px #F3FFE2;
    border-radius: 10px;
    box-shadow: 0 0 10px #F3FFE2 inset;
    background-color: #F3FFE2;
    padding: 10px 15px 10px 15px;
}

label.password,
label.email {
    padding: 30px 15px 30px 15px;
    margin: 3% 5% 3% 5%;
    text-align: start;
    font-size: 20px;
}

#email,
#password {
    margin: 0 0 0 8%;
}

p {
    padding: 0px 15px 30px 15px;
    margin: 3% 5% 3% 5%;
    text-align: start;
    font-size: 20px;
}

input.button {
    width: 150px;
    height: 30px;
    margin: 0 30% 0 30%;
    background-color: #EB7F00;
    color: #F3FFE2;
}

p.have-registration {
    color: #1695A3;
    font-size: 10px;
    margin: 0 0 5% 35%;
}